<% layout("/layouts/boilerplate") %>

<div class="jumbotron mt-5">
    <h1 class="display-4">Process of the Job Application</h1>
    <p class="lead">Throughout the entire process, communication with candidates is essential to keep them informed about their status and to maintain a positive candidate experience, regardless of the outcome.</p>
    <hr class="my-4">
    <dl>
        <dt>Job Posting:</dt>
        <dd>Choose your Domain From Job Baord Website.</dd>
    </dl>
    <dl>
        <dt>Applicant Submission:</dt>
        <dd>Fill Your application, to give your basic information and submit.</dd>
    </dl>
    <dl>
        <dt>Application Screening:</dt>
        <dd> hiring managers review the received applications to identify candidates who meet the minimum qualifications and requirements outlined in the job posting.</dd>
    </dl>
    <dl>
        <dt>Initial Evaluation:</dt>
        <dd>Qualified candidates are often invited for an initial evaluation, which may involve a phone screening or an online assessment to further assess their skills, experience, and suitability for the position..</dd>
    </dl>
    <dl>
        <dt>Job Posting:</dt>
        <dd>Depending on the nature of the position, candidates may be required to undergo assessment tests.</dd>
    </dl>
    <dl>
        <dt>Offer Extended:</dt>
        <dd>After the interview and assessment process, the employer decides on the most suitable candidate and extends a job offer, including details such as salary, benefits, and start date..</dd>
    </dl>
    <dl>
        <dt>Negotiation and Acceptance:</dt>
        <dd>The candidate may negotiate certain aspects of the job offer, such as salary, benefits, or start date, before accepting the offer..</dd>
    </dl>
  </div>